<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="{{local.image}}" class="card-img-top" alt="{{local.name}}">
        <div class="card-body">
            <h5 class="card-title">{{local.name}}</h5>
            <p class="card-text">{{local.local}}</p>
            <a href="#" class="btn btn-primary">Chon</a>
        </div>
    </div>
</body>
</html>